<!-- <!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <link rel="stylesheet" href="style.css">
</head>
</html> -->
<!-- <nav>
  <a href="/">Home</a> |
  <a href="/compose">Compose</a>
</nav> -->

<hr>
<footer>
  <p>&copy; 2025 My Blog</p>
</footer>
</body>
</html>
